<div class="modal" [ngClass]="{ 'is-active': isModal }">
  <div class="modal-background"></div>
  <div class="modal-content">
    <app-register-form (onRegistered)="register($event)"></app-register-form>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    (click)="isModal = false"
  ></button>
</div>

<div class="columns">
  <div class="column">
    <div class="columns">
      <div class="column">
        <h1 class="title is-3">Пользователи</h1>
      </div>
      <div class="column is-flex is-justify-content-flex-end">
        <button class="button is-primary is-outlined" (click)="isModal = true">
          Создать пользователя
        </button>
      </div>
    </div>
    <hr />
    <div class="table-container">
      <table class="table is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th><span>Имя, Фамилия</span></th>
            <th><span>Email</span></th>
            <th><span>Телефон</span></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th>
              <span>{{ user.userName }}</span>
            </th>
            <th>
              <span>{{ user.email }}</span>
            </th>
            <th>
              <span *ngIf="user.phone">{{ user.phone }}</span>
              <span *ngIf="!user.phone">Нет телефона</span>
            </th>
            <th>
              <a (click)="deleteUser(user.id)">Удалить</a>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
