<form class="box" [formGroup]="registerForm">
  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label">Имя</label>
        <div class="control">
          <input
            class="input"
            type="text"
            formControlName="name"
            [ngClass]="{
              'is-danger':
                registerForm.controls['password'].invalid &&
                registerForm.controls['password'].touched
            }"
          />
          <p
            class="help is-danger"
            *ngIf="
              registerForm.controls['name'].invalid &&
              registerForm.controls['name'].touched
            "
          >
            Введите ваше имя
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Фамилия</label>
        <div class="control">
          <input class="input" type="text" formControlName="surname" />
          <p
            class="help is-danger"
            *ngIf="
              registerForm.controls['surname'].invalid &&
              registerForm.controls['surname'].touched
            "
          >
            Введите вашу фамилию
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Почта</label>
    <div class="control">
      <input class="input" type="email" formControlName="email" />
      <p
        class="help is-danger"
        *ngIf="
          registerForm.controls['email'].invalid &&
          registerForm.controls['email'].touched
        "
      >
        Некорректный адрес почты
      </p>
    </div>
  </div>

  <div class="field">
    <label class="label">Пароль</label>
    <div class="control">
      <input class="input" type="password" formControlName="password" />
      <p
        class="help is-danger"
        *ngIf="
          registerForm.controls['password'].invalid &&
          registerForm.controls['password'].touched
        "
      >
        Введите пароль
      </p>
    </div>
  </div>

  <div class="field">
    <label class="label">Повторите пароль</label>
    <div class="control">
      <input class="input" type="password" formControlName="repeatPassword" />
      <p
        class="help is-danger"
        *ngIf="
          registerForm.controls['repeatPassword'].invalid &&
          registerForm.controls['password'].touched
        "
      >
        Повторите пароль
      </p>
    </div>
  </div>

  <div class="buttons">
    <button
      class="button is-primary is-fullwidth"
      type="submit"
      [disabled]="registerForm.invalid"
      (click)="register()"
    >
      <span>Регистрция</span>
    </button>
  </div>
</form>
