<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><span>Имя, Фамилия</span></th>
      <th><span>Email</span></th>
      <th><span>Телефон</span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th>
        <span>{{ user.userName }}</span>
      </th>
      <th>
        <span>{{ user.email }}</span>
      </th>
      <th>
        <span *ngIf="user.phone">{{ user.phone }}</span>
        <span *ngIf="!user.phone">Нет телефона</span>
      </th>
    </tr>
  </tbody>
</table>
