<nav class="navbar is-primary has-background-primary">
  <div class="container">
    <div class="navbar-brand" [ngClass]="{ 'is-active': enabledMobile }">
      <a class="navbar-item" routerLink="">
        <div>
          <img src="../assets/images/logo.png" />
          <span class="title has-text-white ml-1">НГГТКИ</span>
        </div>
      </a>
      <span
        class="navbar-burger"
        data-target="navbarMenuHeroA"
        (click)="enabledMobile = !enabledMobile"
      >
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div
      id="navbarMenuHeroA"
      class="navbar-menu"
      [ngClass]="{ 'is-active': enabledMobile }"
    >
      <div class="navbar-end">
        <a class="navbar-item" routerLink=""> Главная </a>
        <a class="navbar-item" routerLink="foodTime"> Расписание </a>

        <div
          class="navbar-item has-dropdown is-hoverable"
          *ngIf="authorizationService.isAuthorization()"
        >
          <div class="navbar-link">Аккаунт</div>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" routerLink="account"> Профиль </a>
            <a class="navbar-item" routerLink="admin" *ngIf="isAdmin == true">
              Админ панель
            </a>
            <a class="navbar-item" (click)="authorizationService.logout()">
              Выход
            </a>
          </div>
        </div>

        <a
          class="navbar-item"
          *ngIf="!authorizationService.isAuthorization()"
          routerLink="authorization/register"
        >
          Регистрация
        </a>
        <div
          class="navbar-item has-text-centered-tablet has-text-centered-mobile"
          *ngIf="!authorizationService.isAuthorization()"
        >
          <a class="button is-light" routerLink="authorization/login">
            Авторизация
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
