<div class="hero is-info is-fullheight bg-image">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-8">
          <div class="columns">
            <div class="column is-7-fullhd is-10-tablet">
              <div class="box has-background-black-transparent">
                <div class="block">
                  <p class="title is-size-1">Хочешь поесть?</p>
                </div>
                <p class="subtitle is-4-fullhd">
                  Если ты студент колледжа нггтки то зарегистрируйся на сайте и
                  оставь заявку на питание в нашей столовой.
                </p>
                <p class="subtitle is-4-fullhd">
                  Если ты уже зарегистрирован то можешь просто авторизоватся и
                  оставить заявку
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <app-register-form
            *ngIf="!isAuthorization"
            (onRegistered)="register($event)"
          ></app-register-form>
        </div>
      </div>
    </div>
  </div>
</div>
