<div class="container">
  <div class="columns">
    <div class="column is-2">
      <aside class="menu mt-4">
        <ul class="menu-list">
          <li><a routerLink="/account/">Профиль</a></li>
          <li><a routerLink="foodRecording">Мои записи</a></li>
        </ul>
      </aside>
    </div>
    <div class="column is-10 mt-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
