<div class="pageloader" [ngClass]="{ 'is-active': isLoader }">
  <span class="title">Загрузка</span>
</div>

<div class="modal" [ngClass]="{ 'is-active': isModal }">
  <div class="modal-background"></div>
  <div class="modal-content">
    <form class="box" [formGroup]="createFoodTimeForm">
      <div class="field">
        <label class="label">Название</label>
        <div class="control">
          <input class="input" type="text" formControlName="name" />
        </div>
      </div>

      <label class="label">Время</label>
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Часы</label>
            <div class="control">
              <input class="input" type="text" formControlName="hour" />
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Минуты</label>
            <div class="control">
              <input class="input" type="text" formControlName="minutes" />
            </div>
          </div>
        </div>
      </div>

      <div class="is-flex is-justify-content-flex-end">
        <button class="button is-primary" (click)="createFoodTime()">
          Создать
        </button>
      </div>
    </form>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    (click)="isModal = false"
  ></button>
</div>

<div class="container box">
  <div class="columns">
    <div class="column is-6">
      <h1 class="title">Расписание</h1>
    </div>
    <div class="column is-6">
      <div class="is-flex is-justify-content-flex-end">
        <button
          class="button is-primary is-outlined"
          (click)="isModal = true"
          *ngIf="isAdmin"
        >
          Создать Новый
        </button>
      </div>
    </div>
  </div>
  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr class="has-text-centered">
        <th><abbr title="Position">ID</abbr></th>
        <th>Название</th>
        <th>Время</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let foodTime of foodTimes" class="has-text-centered">
        <th>{{ foodTime.id }}</th>
        <td>{{ foodTime.name }}</td>
        <td>{{ foodTime.time.hours }}:{{ foodTime.time.minutes }}</td>
        <td class="is-flex is-justify-content-flex-end" *ngIf="isAdmin">
          <button
            class="button is-danger is-outlined is-light"
            (click)="deleteFoodTime(foodTime.id)"
          >
            <i class="fas fa-times"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
