<div class="hero is-fullheight has-background-primary bg-image">
  <div class="hero-body">
    <div
      class="container is-flex is-flex-direction-column is-align-items-center"
    >
      <h1 class="title is-size-1 has-text-dark block">НГГТКИ</h1>
      <app-register-form (onRegistered)="register($event)"></app-register-form>
    </div>
  </div>
</div>
