<div class="modal" [ngClass]="{ 'is-active': isModalCreate }">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <form [formGroup]="createFormGroup">
        <div class="field">
          <label class="label">Название группы</label>
          <div class="control">
            <input
              class="input"
              name="groupName"
              type="text"
              formControlName="name"
            />
          </div>
        </div>

        <div class="buttons">
          <button
            class="button is-primary is-fullwidth"
            type="submit"
            (click)="createGroup()"
          >
            <span>Создать</span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    (click)="isModalCreate = false"
  ></button>
</div>

<div class="modal" [ngClass]="{ 'is-active': isModalAddUserGroup }">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <form [formGroup]="formAddGroupUser">
        <div class="field">
          <label class="label">Кого добавить</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select name="foodTime" formControlName="user">
                <option [value]="user.id" *ngFor="let user of users">
                  {{ user.userName }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="buttons">
          <button
            class="button is-primary is-fullwidth"
            type="submit"
            (click)="addGroupUser()"
            [disabled]="formAddGroupUser.invalid"
          >
            <span>Добавить</span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    (click)="isModalAddUserGroup = false"
  ></button>
</div>

<div class="columns">
  <div class="column">
    <div class="columns">
      <div class="column">
        <h1 class="title is-3">Группы</h1>
      </div>
      <div class="column is-flex is-justify-content-flex-end">
        <button
          class="button is-primary is-outlined"
          (click)="isModalCreate = true"
        >
          Создать группу
        </button>
      </div>
    </div>
    <hr />
    <div class="box" *ngFor="let group of groups">
      <div class="columns">
        <div class="column">
          <p class="title is-4">{{ group.name }}</p>
        </div>
        <div class="column is-flex is-justify-content-flex-end">
          <p class="title is-4">{{ group.count }}</p>
        </div>
        <div
          class="
            column
            is-flex is-justify-content-flex-end is-align-content-center
          "
        >
          <button
            class="button mr-1"
            (click)="enableModalAddUserGroup(group.id)"
          >
            Добавить пользователя в группу
          </button>
          <button
            class="button"
            (click)="delete(group.id)"
            *ngIf="group.name != 'admin'"
          >
            Удалить
          </button>
        </div>
      </div>
      <app-group-expender
        *ngIf="group.count"
        [group]="group"
      ></app-group-expender>
    </div>
  </div>
</div>
