<div class="pageloader" [ngClass]="{ 'is-active': isLoader }">
  <span class="title">Pageloader</span>
</div>

<div class="container box">
  <hr />
  <div class="columns">
    <div class="column">
      <h1 class="title is-4">Пользователь {{ user?.userName }}</h1>
    </div>
  </div>
  <hr />
  <div class="columns">
    <div class="column is-12">
      <div class="is-flex">
        <button class="button is-primary is-light mr-2">
          Добавить номер телефона
        </button>
        <button class="button is-primary is-light">Сменить пароль</button>
      </div>
    </div>
  </div>
  <hr />
  <div class="columns">
    <div class="column">
      <h1 class="title is-6">Данные</h1>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <h1 class="">Email - {{ user?.email }}</h1>
      <h1 *ngIf="user?.phone">Телефон - {{ user?.phone }}</h1>
      <hr />
      <p style="word-break: break-all">TOKEN [Bearer {{ token }}]</p>
    </div>
  </div>
</div>
