<form class="box" [formGroup]="loginForm">
  <div class="field">
    <label class="label">Почта</label>
    <div class="control">
      <input
        class="input"
        type="email"
        formControlName="email"
        [ngClass]="{
          'is-danger':
            loginForm.controls['email'].invalid &&
            loginForm.controls['email'].touched
        }"
      />
      <p
        class="help is-danger"
        *ngIf="
          loginForm.controls['email'].invalid &&
          loginForm.controls['email'].touched
        "
      >
        Некорректный адрес почты
      </p>
    </div>
  </div>

  <div class="field">
    <label class="label">Пароль</label>
    <div class="control">
      <input
        class="input"
        type="password"
        formControlName="password"
        [ngClass]="{
          'is-danger':
            loginForm.controls['password'].invalid &&
            loginForm.controls['password'].touched
        }"
      />
      <p
        class="help is-danger"
        *ngIf="
          loginForm.controls['password'].invalid &&
          loginForm.controls['password'].touched
        "
      >
        Введите пароль
      </p>
    </div>
  </div>

  <div class="buttons">
    <button
      class="button is-primary is-fullwidth"
      type="submit"
      (click)="login()"
      [disabled]="loginForm.invalid"
    >
      <span>Авторизация</span>
    </button>
  </div>
</form>
