<div class="modal" [ngClass]="{ 'is-active': isModal }">
  <div class="modal-background"></div>
  <div class="modal-content">
    <form class="box" [formGroup]="foodRecordingForm">
      <div class="field">
        <label class="label">Куда записатся</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="foodTime" formControlName="foodTime">
              <option
                [value]="_foodTime.id"
                *ngFor="let _foodTime of foodTimes"
              >
                {{ _foodTime.name }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Дата записи</label>
        <div class="control">
          <input
            class="input"
            name="date"
            formControlName="date"
            type="date"
            formControlName="date"
          />
        </div>
      </div>

      <div class="buttons">
        <button
          class="button is-primary is-fullwidth"
          [disabled]="foodRecordingForm.invalid"
          (click)="createFoodRecording()"
          type="submit"
        >
          <span>Добавить</span>
        </button>
      </div>
    </form>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    (click)="isModal = false"
  ></button>
</div>

<div class="box">
  <div class="columns">
    <div class="column" *ngIf="isGroup == true">
      <h1 class="title is-4">Мои записи</h1>
    </div>
    <div class="column is-flex is-justify-content-flex-end">
      <a (click)="isModal = true" *ngIf="isGroup == true"
        ><i class="fas fa-plus" data-tooltip="Добавить"></i
      ></a>
    </div>
  </div>
  <hr *ngIf="isGroup == true" />
  <div class="table-container" *ngIf="isGroup == true">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th><span>Куда записан</span></th>
          <th><span>Когда записан</span></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let foodRecording of userFoodRecordings">
          <th>
            <span>{{ foodRecording.foodTime.name }}</span>
          </th>
          <th>
            <span>{{ foodRecording.date | date: "yyyy.MM.dd" }}</span>
          </th>
          <th>
            <a (click)="deleteFoodRecording(foodRecording.id)">Удалить</a>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="isGroup == false">
    <h1 class="title is-5 has-text-centered">
      Из-за того, что вы не состоите в группе, вы не можете записыватся на
      питание
    </h1>
  </div>
</div>
