<div class="p-3 mt-4">
  <div class="columns">
    <div class="column is-2">
      <app-admin-menu class="box"></app-admin-menu>
    </div>
    <div class="column is-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
