<div class="modal" [ngClass]="{ 'is-active': isModal }">
  <div class="modal-background"></div>
  <div class="modal-content">
    <form class="box" [formGroup]="createFoodTimeForm">
      <div class="field">
        <label class="label">Название</label>
        <div class="control">
          <input class="input" type="text" formControlName="name" />
        </div>
      </div>

      <label class="label">Время</label>
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Часы</label>
            <div class="control">
              <input class="input" type="text" formControlName="hour" />
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Минуты</label>
            <div class="control">
              <input class="input" type="text" formControlName="minutes" />
            </div>
          </div>
        </div>
      </div>

      <div class="is-flex is-justify-content-flex-end">
        <button class="button is-primary" (click)="createFoodTime()">
          Создать
        </button>
      </div>
    </form>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    (click)="isModal = false"
  ></button>
</div>

<div class="columns">
  <div class="column">
    <div class="columns">
      <div class="column">
        <h1 class="title is-3">Расписание</h1>
      </div>
      <div class="column is-flex is-justify-content-flex-end">
        <button class="button is-primary is-outlined" (click)="isModal = true">
          Создать Новый
        </button>
      </div>
    </div>
    <hr />
    <div class="table-container">
      <table class="table is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th><span>id</span></th>
            <th><span>name</span></th>
            <th><span>time</span></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let foodtime of foodTimes">
            <th>{{ foodtime.id }}</th>
            <th>{{ foodtime.name }}</th>
            <th>{{ foodtime.time?.hours }}:{{ foodtime.time?.minutes }}</th>
            <th><a (click)="deleteFoodTime(foodtime.id)">Удалить</a></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
