<div class="modal" [ngClass]="{ 'is-active': isModal }">
  <div class="modal-background"></div>
  <div class="modal-content">
    <form class="box" [formGroup]="foodRecordingForm">
      <div class="field">
        <label class="label">Кого записать</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="foodTime" formControlName="user">
              <option [value]="user.id" *ngFor="let user of users">
                {{ user.userName }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Куда записатся</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select name="foodTime" formControlName="foodTime">
              <option
                [value]="_foodTime.id"
                *ngFor="let _foodTime of foodTimes"
              >
                {{ _foodTime.name }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Дата записи</label>
        <div class="control">
          <input
            class="input"
            name="date"
            formControlName="date"
            type="date"
            formControlName="date"
          />
        </div>
      </div>

      <div class="buttons">
        <button
          class="button is-primary is-fullwidth"
          [disabled]="foodRecordingForm.invalid"
          (click)="createFoodRecording()"
          type="submit"
        >
          <span>Добавить</span>
        </button>
      </div>
    </form>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    (click)="isModal = false"
  ></button>
</div>

<div class="box">
  <div class="columns">
    <div class="column">
      <h1 class="title is-4">Записи</h1>
    </div>
    <div class="column is-flex is-justify-content-flex-end">
      <a (click)="isModal = true"
        ><i class="fas fa-plus" data-tooltip="Добавить"></i
      ></a>
      <a
        class="ml-2 is-success"
        href="https://localhost:5001/api/FoodRecording/download"
      >
        Выгрузить отчёт
      </a>
    </div>
  </div>
  <hr />
  <div>
    <div class="box" *ngFor="let foodRecording of foodRecordings">
      <div class="columns">
        <div class="column is-6">
          <span class="title is-4">{{ foodRecording.foodTime.name }}</span>
        </div>
        <div class="column is-6">
          <span class="title is-4">{{
            foodRecording.date | date: "yyyy MM dd"
          }}</span>
        </div>
      </div>
      <ul>
        <li
          *ngFor="let groupFoodRecording of foodRecording.groupFoodRecordings"
        >
          <div *ngIf="groupFoodRecording.group.name != 'admin'" class="columns">
            <div class="column">
              <span>
                {{ groupFoodRecording.group.name }}
              </span>
            </div>
            <div class="column">
              Количество - {{ groupFoodRecording.count }}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
