<aside class="menu">
  <div *ngFor="let adminMenuItem of adminMenuItems">
    <ul class="menu-list">
      <li>
        <a [routerLink]="adminMenuItem.Link">{{ adminMenuItem.Name }}</a>
      </li>
    </ul>
  </div>
</aside>
