/* You can add global styles to this file, and also import other style files */
// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;

$control-border-width: 2px;
$input-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none;

// Import the rest of Bulma
@import "../node_modules/bulma/bulma.sass";

.bg-image {
  background-image: url("assets/images/bg.jpg");
  background-position: center;
  background-size: cover;
}

html::-webkit-scrollbar {
  width: 0;
}

.has-background-black-transparent {
  background-color: rgba(48, 48, 48, 0.9);
}

.is-login-field {
  min-width: 320px;
}
